soapservices/src/main/mule/soapservices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="758d630d-4983-4a2e-8839-b0966911ec8e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="6c0ad298-91d5-4244-9a58-b1734bf23d9f" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soapservicesFlow" doc:id="256654e1-6a77-4f80-b361-079405273da1" >
		<http:listener doc:name="Listener" doc:id="bbeb71fe-9310-4d30-b04a-01f7394f4895" config-ref="HTTP_Listener_config" path="sai"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="d19b5c7a-1db2-4b5d-89aa-3e355d8a95cc" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="0b75f40d-e533-4fae-be0c-d111478e01ab" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="1b8cec7e-acab-4f13-8d6d-f5d06b99c674" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="f1d51d74-f4ba-4908-98c7-4aa5ea5180bb" config-ref="Web_Service_Consumer_Config"/>
	</flow>
</mule>
